<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820580861056-bjupnll6b940b9r9l5q6e4sbhph67hjq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820580861056-bjupnll6b940b9r9l5q6e4sbhph67hjq</string>
	<key>API_KEY</key>
	<string>AIzaSyBOb6ZFZcdM_NypmOn0mQoi2hOKK9utlPo</string>
	<key>GCM_SENDER_ID</key>
	<string>820580861056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.opbhallafoundation</string>
	<key>PROJECT_ID</key>
	<string>op-bhalla-foundation</string>
	<key>STORAGE_BUCKET</key>
	<string>op-bhalla-foundation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820580861056:ios:2a824ea8100e1579f41265</string>
	<key>DATABASE_URL</key>
	<string>https://op-bhalla-foundation-default-rtdb.firebaseio.com</string>
</dict>
</plist>